{{define "page:title"}}Edit Node: {{.Form.NodeName}}{{end}}

{{define "page:main"}}
<div class="max-w-sm mx-auto relative z-0 w-full mb-5 mt-5">
    <h1 class="text-3xl font-extrabold dark:text-white">Edit node:{{.Form.NodeName}}</h1>
</div>
<form action="/node/edit/{{.Form.NodeName}}" method="POST" class="max-w-sm mx-auto">
    <input type="hidden" name="csrf_token" value="{{.Token}}">
    <div class="relative z-0 w-full mb-5 group">
        <label for="node_name" {{ if not
               .Form.Validator.FieldErrors.nodeName}}class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
               {{else}}class="block mb-2 text-sm font-medium text-red-700 dark:text-red-500" {{end}}>Node Name:</label>
        {{with .Form.Validator.FieldErrors.nodeName}}
        <p class="mt-2 text-sm text-red-600 dark:text-red-500"><span>{{.}}</span></p>
        {{end}}
        <input
                type="text"
                id="node_name"
                name="nodeName"
                value="{{.Form.NodeName}}"
                {{ if not
                .Form.Validator.FieldErrors.nodeName}}class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                {{else}}class="bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500"
                {{end}}
        >
        <p id="helper-text-node-name" class="mt-2 text-sm text-gray-500 dark:text-gray-400">This node will be accessible
            under this name.</p>
    </div>

    <div class="relative z-0 w-full mb-5 group">
        <label for="node_name" {{ if not
               .Form.Validator.FieldErrors.URL}}class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
               {{else}}class="block mb-2 text-sm font-medium text-red-700 dark:text-red-500" {{end}}>Node Name:</label>
        {{with .Form.Validator.FieldErrors.URL}}
        <p class="mt-2 text-sm text-red-600 dark:text-red-500"><span>{{.}}</span></p>
        {{end}}
        <input
                type="text"
                id="url"
                name="url"
                value="{{.Form.URL}}"
                {{ if not
                .Form.Validator.FieldErrors.URL}}class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                {{else}}class="bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500"
                {{end}}
        >
        <p id="helper-text-url" class="mt-2 text-sm text-gray-500 dark:text-gray-400">URL of your Scrapyd instance</p>
    </div>

    <div class="relative z-0 w-full mb-5 group">
        <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username:</label>
        <input
                type="text"
                id="username"
                name="username"
                value="{{.Form.Username}}"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
        <p id="helper-text-username" class="mt-2 text-sm text-gray-500 dark:text-gray-400">If this scrapyd instance is
            secured with an username please provide it here</p>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <label for="password">Password:</label>
        <input
                type="password"
                id="password"
                name="password"
                value="{{.Form.Password}}"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
        <p id="helper-text-password" class="mt-2 text-sm text-gray-500 dark:text-gray-400">If this scrapyd instance is
            secured with a password please provide it here</p>
    </div>
    <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Add Node
    </button>
</form>
{{end}}
