{{define "sse:lockedForDeploy"}}
<div class="p-4 mb-4 mt-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300" role="alert" id="notification">
    <span class="font-medium">Another deploy already in progress!</span> This may take a bit longer. Sorry for the inconvenience.
</div>
{{end}}
